
.main {
    border: black 1px solid;
    width: 200px;
    height: 100px;
    text-align: start;
    padding-left: 20px;
    font-size: 20px;
    line-height: 100px;
    margin: 2px;
    box-sizing: border-box;
}

.lowest {
    background-color: #0b8d8d;
}
